<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Actvity1.HomePage_ValidateTitle"/>
      <class name="Actvity1.HomePage_MultiData"/>
      <class name="Actvity1.HomePage"/>
      <class name="Actvity1.HomePage_ValidateConatctNavigation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
